@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body
{
    background: #070D2B;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 2rem;
}
#main
{
    width: 100%;
    height: 100%;
}
.sticky
{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 40;
}
.header
{
    display:flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 170px;
    background: #070D2B;
    justify-content: space-between;
    align-items: center;
    padding: 15px 100px;
    z-index: 10;
}
header .logo{
    position: relative;
    height: 150px;
    width: 150px;
    overflow: hidden;
}
header .logo img{
    position: absolute;
    top: 30%;
    left: 0;
    max-width: 100%;
    height: auto;
    overflow: hidden;
}
header .navigation{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px;
    position: absolute;
    left: 19%;
    bottom: 30%;
    list-style: none;
}
header .navigation a{
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    float: left;
    padding: 7px 20px 7px 20px;
    font-size: 17px;
    text-align: center;
}
header .navigation a:hover, .dropbtn:hover{
    color: #45f3ff;
    cursor: pointer;
}
header .user_log {
    float: right;
    padding: 20px 30px;
}
header .logreg {
    background: #1e2029;
    color: #fff;
    padding: 5px 15px;
    cursor: pointer;
    border-radius: 20px;
}
header .logreg:hover
{
    background-color: #23242a;
    color: #45f3ff;
}
.fields
{
    border-radius: 10px;
    margin: 20px 20px;
    background-color: #070D2B;
}
.search
{
    z-index: 20;
    width: 600px;
    height: 50px;
    position: absolute;
    top: 65%;
    left: 33%;
}
.search input
{
    width: 100%;
    height: 100%;
    outline: none;
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 0 10px 0 45px;
    font-size: 20px;
}
/* scroll to fixed searchbar attempt(fail)
.fix-search .search
{
    z-index: 20;
    width: 600px;
    height: 50px;
    position: fixed;
    top: 0;
}
.fix-search .search input
{
    width: 100%;
    height: 100%;
    outline: none;
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 0 10px 0 45px;
    font-size: 20px;
}
*/
.search .fa
{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    color: #000;
    border-right: 1px solid #fff;
    padding-right: 10px;
}
.dropbtn
{
    color: #fff;
    background-color: #070D2B;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    float: left;
    padding: 7px 20px 7px 20px;
    font-size: 17px;
    text-align: center;
}
.dropdown-content
{
    display: none;
    background-color: #1f39b8;
    width: 290px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 10px;
    z-index: 30;
}
#f
{
    width: 290px;
    position: absolute;
    top: 70px;
    left: 192px;
}
#fx
{
    width: 145px;
}
#d
{
    width: 290px;
    position: absolute;
    top: 70px;
    left: 362px;
}
#dx
{
    width: 145px;
}
#y
{
    width: 250px;
    position: absolute;
    top: 70px;
    left: 522px;
}
#yx
{
    width: 125px;
}
.drpleft
{
    float: left;
    background-color: #1f39b8;
    box-shadow: 0px 8px 0px 0px rgba(0,0,0,0.2);
    border-radius: 10px 0 0 10px;
    z-index: 30;
}
.drpright
{
    float: right;
    background-color: #1f39b8;
    box-shadow: 0px 8px 0px 0px rgba(0,0,0,0.2);
    border-radius: 0 10px 10px 0;
    z-index: 30;
}
.dropdown-content .drpa 
{
    float: none;
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}
.dropdown-content a:hover 
{
    background-color: rgb(38, 116, 189);
    border-radius: 10px;
}
.dropdown:hover .dropdown-content
{
    display: block;
}
main
{
    min-height: 100vh;
}
.main_div
{
    background-color: #fff;
    position: absolute;
    top: 18%;
    left: 0;
    width: 1900px;
    height: 600px;
}
.left_div
{
    width: 1200px;
    height: 600px;
    float: left;
}
.right_div
{
    width: 700px;
    height: 600px;
    float: right;
    right: 100px;
    background-color: #23242a;
    z-index: 10;
}
.slide-photo
{
    width: 1200px;
    height: 600px;
}
.slide-photo img
{
    width: 1200px;
    height: 600px;
    object-fit: cover;
}
.slider
{
    max-width: 1200px;
    height: 600px;
    position: relative;
    margin: auto;
}
.mySlides
{
    display: none;
}
.prev, .next
{
    cursor: pointer;
    color: white;
    position: absolute;
    width: auto;
    top: 50%;
    margin-top: -22px;
    padding: 16px;
    font-weight: bold;
    font-size: 30px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    z-index: 10;
}
.next
{
    border-radius: 3px 0 0 3px;
    right: 700px;
}
.prev:hover , .next:hover
{
    background-color: rgba(0,0,0, 0.8);
}
.fade
{
    animation: fade 1.5s;
}
@keyframes fade {
    from {opacity: 0.4;}
    to {opacity: 1;}
}
.slide-caption-wrap
{
    width: 1200px;
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    opacity: 1;
    right: 0;
    padding-top: 100px;
    background: linear-gradient(180deg,rgba(0,0,0,0) 0,#000 71%,#000 100%);
}
.slide-caption
{
    position: relative;
    padding: 30px;
    color: #fff;
    z-index: 10;
    padding-left: 245px;
    max-width: 1200px;
}
.film-poster
{
    position: absolute;
    bottom: 20px;
    left: 30px;
    width: 120px;
    padding-bottom: 180px;
}
.film-title
{
    margin: 0 0 10px 0;
    font-size: 2em;
    color: #fff;
    line-height: 1.3em;
    font-weight: 600;
}

.sc-detail
{
    font-size: 1em;
    font-weight: 400;
    margin-bottom: 10px;
}
.sc-detail .scd-item
{
    margin-bottom: 5px;
    margin-right: 20px;
    display: inline-block;
    font-size: 12px;
}
.sc-desc
{
    font-size: 14px;
    color: #ccc;
    font-weight: 300;
    line-height: 1.6em;
    margin-bottom: 0;
}
.sc-btn
{
    position: absolute;
    left: 175px;
    top: 40px
}
.sc-btn .btn-circle
{
    width: 50px;
    height: 50px;
    line-height: 50px;
    background: 0 0 !important;
}
.sc-btn .btn-circle i
{
    font-size: 18px;
    color: #f7d200;
    position: relative;
    right: -2px;
}
.fa-play
{
    margin-right: 10px;
}
.movie-list
{
    height: 100%;
    padding-top: 20px;
    background-image: linear-gradient(to top, #070d2b, #11718f, #070d2b);
}
.movie-list .movie
{
    display: block;
    padding: 0 20px 15px;
    position: relative;
    margin: 25px 0 5px;
    height: 155px;
}
.movie-list .movie .film-poster
{
    width: 100px;
    height: 150px;
    padding-bottom: 140px;
    position: absolute;
    top: 0;
    left: 20px
}
.film-poster .film-poster-img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover
}
.film-detail
{
    padding-left: 120px;
    min-height: 140px;
}
.fd-infor
{
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1px;
    color: #aaa;
    height: 17px;
    margin-bottom: 7px;
}
a
{
    color: #fff;
    text-decoration: none;
}
.fdi-item
{
    margin-right: 10px;
}
.movie-section
{
    width: 1900px;
    background-color: #070D2B;
    position: absolute;
    top: 770px;
    left: 0;
}
.movie-sectionx
{
    width: 1900px;
    background-color: #070D2B;
    position: absolute;
    top: 140px;
    left: 0;
}
.head
{
    display: block;
    width: 100%;
    height: 35px;
    margin-bottom: 20px;
}
.left-head
{
    margin: 20px;
    margin-right: 1.5rem!important;
    float: left;
}
.head1
{
    color: #45f3ff;
    border-color: #ffc107;
    font-size: 30px!important;
    line-height: 1.2em;
    font-weight: 600;
    padding: 0;
    margin: 0;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    border-left: 4px solid #fff;
    padding-left: 15px;
}
.right-btn
{
    float: left !important;
    margin: 20px;
}
.right-btn ul
{
    width: 200px;
    height: 35px;
    border-bottom: none;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.right-btn .fil
{
    margin-left: 20px;
    position: absolute;
    top: 25px;
    left: 180px;
    display: list-item;
    list-style: none;
}
.right-btn .diz
{
    margin-left: 20px;
    position: absolute;
    top: 25px;
    left: 280px;
    display: list-item;
    list-style: none;
}
.fil span:hover , .diz span:hover , i:hover
{
    color: #45f3ff;
}
div
{
    display: block;
}
.right-btn ul li a
{
    font-size: 15px;
    margin: 5px;
    text-decoration: none;
}
.right-btn ul li a i
{
    margin-right: 10px;
}
.fa-star
{
    color: #f7d200;
}
.movie-variety
{
    width: 100%;
    height: 100%;
}
#trending-movies
{
    width: 100%;
    height: 100%;
}
.film-list-wrap
{
    width: 100%;
    height: 100%;
    display: inline-block;
}
.itemx
{
    background: #03040C;
    width: 200px;
    height: 380px;
    margin: 30px 10px 0 20px;
    position: relative;
    display: inline-block;
    border-radius: 10px;
}
.film-posterx
{
    width: 200px;
    height: 250px;
    position: absolute;
    overflow: hidden;
    border-radius: 10px 10px 0 0;
}
.film-posterx img
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 250px;
    object-fit: cover;
    vertical-align: middle;
    border-style: none;
}
.film-posterx a
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    display: inline-block;
}
.film-detailx
{
    width: 200px;
    height: 130px;
    position: absolute;
    top: 250px;
    font-size: .9em;
    text-align: left;
    padding: 10px;
    z-index: 2;
}
.film-name
{
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.film-namex
{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 100%;
    font-size: 19px;
    line-height: 1.4em;
}
.film-name a
{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}
.fd-btn
{
    margin-top: 7px;
}
.fd-btnx
{
    position: absolute;
    bottom: 11px;
    left: 50px;
}
.fd-btnx a
{
    text-decoration: none;
}
.footer
{
    width: 100%;
    height: 180px;
    background-color: #000;
    position:absolute;
    top: 4850px;
    left: 0;
    text-align: center;
}
.footer-links
{
    width: 100%;
    height: 30%;
}
.footer-links ul
{
    width: 50%;
    height: 100%;
    list-style: none;
}
.footer-links .social
{
    width: 50%;
    height: 54px;
    list-style: none;
    position: absolute;
    top: 0;
    right: 0;
}
.footer-links ul li
{
    display: inline-block;
    list-style: none;
    margin: 14px 20px;
}
.footer-links ul li a
{
    font-size: 17px;
    color: #fff;
    list-style: none;
}
.footer-about
{
    width: 100%;
    height: 70%;
    color: #fff;
    padding: 0 0 40px;
}
.footer-about .about-text
{
    width: 800px;
    color: #888;
    text-align: center;
    margin: 0 auto 12px;
    font-size: 16px;
}
.footer-about .copyright
{
    width: 100%;
    height: 30px;
    font-size: 13px;
    color: rgb(10, 8, 128);
}
.boxc
{
    width: 100%;
    background-color: #070D2B;
    position: absolute;
    top: 165px;
    left: 0;
}
.collection
{
    background-color: #ccc;
    width: 100%;
    height: 200px;
    border-radius: 100px;
    overflow: hidden;
    cursor: pointer;
    margin-bottom: 30px;
    display: block;
    justify-content: center;
    text-align: center;
}
.collection img:hover
{
    transition-duration: 3s;
    transform: scale(1.2);
}
.collection img
{
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.collection a
{
    display: block;
    width: 100%;
    height: 200px;
}
.h1
{
    width: 600px;
    height: 90px;
    box-shadow: 5px 10px 18px 10px rgba(0,0,0, 0.5);
    color: rgb(25, 191, 197);
    font-size: 60px;
    text-align: center;
    border-radius: 20px;
}
#t1
{
    position:absolute;
    top: 50px;
    left: 33%;
}
#t2
{
    position: absolute;
    top: 280px;
    left: 33%;
}
#t3
{
    position: absolute;
    top: 510px;
    left: 33%;
}
#t4
{
    position: absolute;
    top: 740px;
    left: 33%;
}
#t5
{
    position: absolute;
    top: 970px;
    left: 33%;
}
#t6
{
    position: absolute;
    top: 1200px;
    left: 33%;
}
#t7
{
    position: absolute;
    top: 1430px;
    left: 33%;
}
#t8
{
    position: absolute;
    top: 1660px;
    left: 33%;
}
.player-hud
{
    width: 1600px;
    height: 800px;
    position: absolute;
    top: 180px;
    left: 8%;
    border-radius: 20px;
}
.player-header
{
    width: 100%;
    height: 42px;
    border-radius: 20px 20px 0 0;
}
.player-header .head
{
    background-color: #475B74;
    width: 360px;
    height: 42px;
    padding-top: 4px;
    position: absolute;
    left: 38%;
    border-radius: 20px 20px 0 0 ;
}
.player-header .head h2
{
    width: 360px;
    text-align: center;
}
.player-body
{
    background-color: #475B74;
    width: 100%;
    height: 45px;
    padding-left: 7px;
    padding-top: 6px;
    border-radius: 20px 20px 0 0;
}
.player-body .nav1
{
    background-color: #070D2B;
    width: 150px;
    height: 35px;
    border-radius: 20px;
    overflow: hidden;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
}
.player-body .nav1:hover
{
    background-color: rgba(19, 206, 190, 0.6);
}
.player-body .nav1:active
{
    background-color: #17c967;
}
.player-body .nav1 a
{
    width: 100%;
    height: 100%;
    color: #fff;
}
.player
{
    width: 100%;
    height: 715px;
    border-radius: 0 0 0 0;
}
.player iframe
{
    position: absolute;
    top: 87px;
    left: 0;
    width: 100%;
    height: 715px;
}
/*.player 
{
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}
.player iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 100vh;
    transform: translate(-50%, -50%);
}
  
@media (min-aspect-ratio: 16/9) {
    .player iframe {
        /* height = 100 * (9 / 16) = 56.25 
        height: 56.25vw;
    }
}
@media (max-aspect-ratio: 16/9) {
    .player iframe {
        /* width = 100 / (9 / 16) = 177.777777 
        width: 177.78vh;
    }
} */
.player img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0 0 0 0;
}
.player-info
{
    background-color: #475B74;
    width: 1600px;
    height: 650px;
    position: absolute;
    top: 982px;
    left: 8%;
}
.info-header
{
    width: 100%;
    height: 42px;
    text-align: left;
    padding: 15px 0 0 40px;
}
.info-body
{
    background-color: #475B74;
    width: 100%;
    height: 70px;
}
.movie-img
{
    width: 250px;
    padding: 20px;
}
.movie-img img
{
    width: 250px;
    height: 100%;
}
.movie-info
{
    background-color: #475B74;
    width: 1300px;
    height: 590px;
    position: absolute;
    top: 60px;
    left: 300px;
}
.movie-info p
{
    margin: 10px 0 0 10px;
}
hr
{
    height: 1px;
    margin: 20px 0 20px 0;
}
.info
{
    padding-bottom: 1rem !important;
}
.info strong
{
    color: rgba(209, 220, 236, 0.75);
    font-weight: bolder;
    padding-right: 5px;
}
strong, span
{
    cursor: default;
}
.info span
{
    background-color: rgba(255,255,255,.25);
    display: inline-block;
    padding: 0.35em 0.65em;
    font-size: .75em;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
}
.actors-info
{
    font-weight: bolder;
}
.actors
{
    display: flex;
    flex-wrap: wrap;
}
.actors a
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 32px;
    padding: 0 12px;
    margin-right: 0.5rem;
    font-size: 13px;
    font-weight: 500;
    color: #fff;
    background-color: #3b4348;
    border-radius: 16px;
    word-wrap: break-word;
    margin-top: 5px;
    margin-bottom: 5px;
}
.actors img
{
    width: inherit;
    height: inherit;
    border-radius: 100%;
    margin: 0 8px 0 -12px;
    user-select: none;
}
.suggest
{
    background-color: #475B74;
    width: 1600px;
    height: 400px;
    position: absolute;
    top: 1632px;
    left: 8%;
}
#sug
{
    margin: 10px 30px 10px 30px;
}
.login-screen
{
    position: relative;
    background-color: #1c1c1c;
    width: 460px;
    height: 520px;
    border-radius: 20px;
    overflow: hidden;
}
.login-screen::before
{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 460px;
    height: 520px;
    background: linear-gradient(0deg, transparent, #45f3ff, #45f3ff);
    animation: clock 6s linear infinite;
    transform-origin: bottom right;
}
.login-screen::after
{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 460px;
    height: 520px;
    background: linear-gradient(0deg, transparent, #45f3ff, #45f3ff);
    animation: clock 6s linear infinite;
    transform-origin: bottom right;
    animation-delay: -3s;
}
@keyframes clock
{
    to {
        transform: rotate(0deg);
    }
    from {
        transform: rotate(360deg);
    }
}
.content
{
    position: absolute;
    background-color: #28292d;
    inset: 2px;
    border-radius: 20px;
    z-index: 10;
    padding: 50px 40px;
    display: flex;
    flex-direction: column;
}
.content h2
{
    text-align: center;
    color: #45f3ff;
    font-weight: 400;
    letter-spacing: 2px;
}
.inputx
{
    position: relative;
    width: 370px;
    margin-top: 35px;
}
.inputx input
{
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    border: none;
    outline: none;
    color: #23242a;
    font-size: 1em;
    letter-spacing: 0.05em;
}
.inputx span
{
    position: absolute;
    left: 0;
    padding: 20px 10px 10px;
    font-size: 1em;
    color: #8f8f8f;
    pointer-events: none;
    letter-spacing: 0.05em;
    transition: 0.5s;
}
.inputx input:valid ~ span,
.inputx input:focus ~ span
{
    color: #45f3ff;
    transform: translateY(-34px);
}